.mobileNavContainer {
    display: none;
}


@media (max-width: 768px) {
.mobileNavContainer {
    display: flex;
    position: relative;
  }
  
  .hamburgerWrapper {
    position: flex;
    top: 1.5rem;
    right: 1rem;
    z-index: 1000;
  }
  
  .Mobnav {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: rgba(13, 83, 56, 0.6);
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}